header{
    width: 100%;
    height: 60px;
    display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #353353;


    .logo{
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    nav{
        float: right;
        width: 70%;
        height: auto;
       
      

        }
    }
