.page{
    .page2{
        main{
.selection-two{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
.cart1{
  width: 30%;
  height: auto;
  background-color: #6C6CE5;
}
 
}
        }
    }
}
